@media only screen and (min-width: 850px) {
    body{
        background-image: url('/img/background.svg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
  }